@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
    url('/public/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Poppins', sans-serif;
}

.selected-image-border {
    border-color: #b3bdc7; /* Blue for selection */
    border-width: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.hover-image-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-image-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
/* Supposons que vous ayez un fichier CSS où vous pouvez ajouter des styles globaux */
.category-hover:hover {
    background: linear-gradient(45deg, #194b4f, #33fffc);
    color: #ffffff; /* Couleur du texte sur le survol */
}
.category-hover {
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.input-style {
    transition: border 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
    outline: none;
    background: transparent;
    color: #fff;
    border: 1px solid #ee8456;
}

.input-style:focus {
    border: 1px solid #ee8456;  /* Ajustez selon vos besoins pour focus */
    background: #212121;
    color: white;
}

.input-style:valid {
    background: linear-gradient(45deg, #194b4f, #33fffc);
    color: #ffffff;
}

