@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
    url('/public/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Assurez-vous que le body prend toute la hauteur de la fenêtre */
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background: linear-gradient(to right, #ff7e5f 0%, #feb47b 100%);
    background: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    background: linear-gradient(to right, #f12711 0%, #f5af19 100%);
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: #fff; /* Changez la couleur du texte pour une meilleure lisibilité */
    font-family: 'Poppins', sans-serif; /* Utilisation de la police Poppins */
  display: flex;
    justify-content: center;
    transition: background-color 0.3s;

}


.selected-image-border {
    border-color: #b3bdc7; /* Blue for selection */
    border-width: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.hover-image-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-image-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
/* Supposons que vous ayez un fichier CSS où vous pouvez ajouter des styles globaux */
.category-hover:hover {
    background: linear-gradient(45deg, #194b4f, #33fffc);
    color: #ffffff; /* Couleur du texte sur le survol */
}
.category-hover {
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.input-style {
    transition: border 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
    outline: none;
    background: transparent;
    color: #fff;
    border: 1px solid #ee8456;
}

.input-style:focus {
    border: 1px solid #ee8456;  /* Ajustez selon vos besoins pour focus */
    background: #212121;
    color: white;
}

.input-style:valid {
    background: linear-gradient(45deg, #194b4f, #33fffc);
    color: #ffffff;
}

/* Base page styles */
.page-container {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, opacity 0.5s ease-in-out;
}

/* On scroll animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Applying the animation to the grid */
.grid {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

/* Improvements to the product image presentation */
.product-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* Floating label style when the user interacts with inputs */
.input-focus-effect input:focus + label {
    transform: scale(0.85) translateY(-20px);
    transition: all 0.3s ease-out;
    color: #007bff;
}

/* Styles CSS pour améliorer le contraste du texte sur fond violet */
.list-rating-container {
    color: #f8f9fa; /* Blanc légèrement grisé pour améliorer la lisibilité */
}

.list-rating-title {
    color: #ffffff; /* Blanc pur pour les titres pour un maximum de contraste */
}

.list-rating-subtext {
    color: #e0e0e0; /* Gris très clair pour les sous-textes */
}

.list-rating-review {
    border-bottom: 1px solid #eee; /* Séparateur plus clair pour diviser les avis */
    padding-bottom: 16px;
    margin-bottom: 16px;
}

